.u-section-1 .u-sheet-1 {
  min-height: 1257px;
}

.u-section-1 .u-image-1 {
  width: 90px;
  height: 90px;
  margin: 56px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 56px 0 -12px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}