.u-section-1 .u-sheet-1 {
  min-height: 1257px;
}

.u-section-1 .u-image-1 {
  width: 90px;
  height: 90px;
  margin: 56px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 56px 0 -12px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}.u-section-2 .u-sheet-1 {
  min-height: 670px;
}

.u-section-2 .u-video-1 {
  width: 1020px;
  height: 513px;
  margin: 60px 45px 60px auto;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-video-poster-1 {
  background-image: url("/images/idea.png");
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-2 .u-video-1 {
    width: 940px;
    height: 473px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-2 .u-video-1 {
    width: 720px;
    height: 362px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-video-1 {
    width: 540px;
    height: 272px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-video-1 {
    width: 340px;
    height: 171px;
  }
}